$color--very-dark-green: #1a2a33;
$color--dark-green: #1f3641;

$color--dusty-blue: #a8bfc9;

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: $color--very-dark-green;
  color: $color--dusty-blue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 24px;
  box-sizing: border-box;

  .new-game-menu {
    // background-color: red;
    @include flex-column();
    // text-align: center;

    margin: auto;
    margin-top: 120px;
    max-width: 460px;

    .logo {
      width: 71px;
      height: 31px;
    }

    .players-mark-container {
      margin-top: 40px;
      margin-bottom: 40px;
      background-color: $color--dark-green;
      width: 100%;
      border-radius: 10px;
      border-bottom: 4px solid #1a252c;
      padding: 24px;
      box-sizing: border-box;

      @include flex-column();
      gap: 28px;

      p {
        font-weight: 600;
        letter-spacing: 1px;
      }

      p:first-of-type {
        font-size: 14px;
      }

      p:last-of-type {
        font-size: 12px;
      }
    }
  }
}
