$color--very-dark-green: #1a2a33;
$color--dark-green: #1f3641;
$color--dusty-blue: #a8bfc9;
$color--yellow: #f2b137;
$color--light-cyan: #31c3bd;

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn--gen {
  border: none;
  outline: none;
  background: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  box-sizing: border-box;
}

body {
  background-color: $color--very-dark-green;
  color: $color--dusty-blue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 24px;
  box-sizing: border-box;

  .new-game-menu {
    // @include flex-column();

    margin: auto;
    margin-top: 120px;
    max-width: 460px;

    .logo {
      width: 71px;
      height: 31px;
    }

    .players-mark-container {
      margin-top: 40px;
      margin-bottom: 40px;
      background-color: $color--dark-green;
      width: 100%;
      border-radius: 10px;
      border-bottom: 4px solid #1a252c;
      padding: 24px;
      box-sizing: border-box;

      @include flex-column();
      gap: 28px;

      p {
        font-weight: 600;
        letter-spacing: 1px;
      }

      p:first-of-type {
        font-size: 14px;
      }

      p:last-of-type {
        font-size: 12px;
      }

      .marks {
        background-color: $color--very-dark-green;
        width: 100%;
        border-radius: 10px;
        @include flex-row();
        padding: 8px;
        box-sizing: border-box;

        .icon-mark {
          scale: 0.3;

          path {
            fill: $color--dusty-blue;
          }
        }

        button {
          // background-color: #a8bfc9;
          height: 54px;
          box-sizing: border-box;

          flex: 1;
          border-radius: inherit;
          @include flex-row();
          justify-content: center;
          &:first-child {
            background: none;
          }
        }

        .mark-active {
          background-color: $color--dusty-blue !important;

          svg {
            path {
              fill: $color--very-dark-green !important;
            }
          }
        }
      }
    }

    .btn--chose-opponent {
      background-color: $color--dusty-blue;
      width: 100%;
      border-radius: 10px;
      height: 67px;
      box-sizing: border-box;
      color: $color--very-dark-green;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
    }

    .btn--chose-opponent--vs-cpu {
      margin-bottom: 20px;
      background-color: $color--yellow;
      border-bottom: 4px solid #7e5a17;
    }

    .btn--chose-opponent--vs-player {
      background-color: $color--light-cyan;
      border-bottom: 4px solid #247a78;
    }
  }

  .game-container {
    margin: auto;
    margin-top: 24px;
    max-width: 460px;

    .game-header {
      @include flex-row();
      justify-content: space-between;

      .game-logo {
        width: 40px;
      }

      .whose-turn {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        padding: 16px 32px;
        box-sizing: border-box;

        background-color: $color--dark-green;
        border-radius: 5px;

        border-bottom: 3px solid #151e22;
      }

      .btn--restart {
        width: 40px;
        height: 40px;
        background-color: $color--dusty-blue;
        border-radius: 5px;
        border-bottom: 3px solid #515d63;
        @include flex-row();
        justify-content: center;
      }

      .icon-restart {
        scale: -0.8;
        rotate: 180deg;
      }
    }

    .game-board {
      height: 328px;
      margin-top: 64px;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 20px;

      .btn--mark-cell {
        background-color: #151e22;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: $color--dark-green;
        border-bottom: 3px solid #151e22;
      }
    }

    .game-footer {
      margin-top: 20px;

      @include flex-row();
      justify-content: space-between;
      gap: 20px;

      .result-div {
        width: 100%;
        height: 64px;
        border-radius: 10px;
        background-color: $color--dusty-blue;
        @include flex-column();
        justify-content: center;
        gap: 8px;
        color: $color--dark-green;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 18px;

        &:first-child {
          background-color: $color--light-cyan;
        }

        &:last-child {
          background-color: $color--yellow;
        }

        span:first-child {
          font-size: 12px;
        }
      }
    }
  }
}
